[submodule "android"]
	path = android
	url = git@github.com:chechen-language/chechen-latin-keyboard-android
[submodule "ios"]
	path = ios
	url = git@github.com:chechen-language/chechen-latin-keyboard-ios
[submodule "windows"]
	path = windows
	url = git@github.com:chechen-language/chechen-latin-keyboard-windows
[submodule "linux"]
	path = linux
	url = git@github.com:chechen-language/chechen-latin-keyboard-linux
[submodule "macos"]
	path = macos
	url = git@github.com:chechen-language/chechen-latin-keyboard-macos
